body{
    background-color: rgb(17, 17, 17);
}

#title{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 2%;
}

.navigation{
    margin-top: 2%;
    width: 45%;
    float: left;
}

.row{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: rgb(139, 139, 139);
    transition: all 0.2s ease;
}

.row:hover{
    border: 5px white solid;
    background-color: rgb(0, 0, 0);
    color: white;
}

.col-2{
    margin: 3% 0% 3% 0%;
    font-size: 1.5em;
}

.information{
    margin-top: 2%;
    background-color: white;
    width: 50%;
    float: right;
    text-align: center;
}

#text{
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: black;
}